{% load static %}

<div class="article-metadata">
	<p class="meta-title">{{content.title}}</p>
	<p class="meta-author">{{content.author}}</p>
	<p class="meta-id">{{content.id}}</p>
	<p class="meta-url">{{content.url}}</p>
</div>

<div class="article">
	<div class="img">
		<img src="{% static 'IMG/default.jpg' %}" alt="">
	</div>
	<div class="article-data">
		<p class="article-title">{{content.title}}</p>
		<p class="article-author">{{content.author}}</p>
		<a type="button" href="" class="read-button btn btn-outline-primary">Read</a>
	</div>
	
</div>