{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='container'>
	<h1 class='text-center mt-2 mb-4'>अधूरा साहित्य</h1>

	<div class='container'>
		<h2 class='text-center mt-2 mb-4'>आज का साहित्य</h2>

		<script type="json">{{metadata}}</script>
		<p id="json-content" style="display:none;">{{metadata}}</p>

		<div class="article-box">
			{% for content in contents %}
			{% include 'content.html' %}
			{% endfor %}
		</div>
		<div class='text-center mt-2 mb-4'>
			<button type="button" class="btn btn-primary">Load More</button>
		</div>
		<p class='text-center mt-2 mb-4'>Adhoora Sahitya, Copyright 2022</p>
	</div>
</div>
{% endblock %}